*.iml
.gradle
.idea
.mvn
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/misc.xml
/.idea/deploymentTargetDropDown.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/buildSrc/buildgit
/app/dev/
google-services.json
/app/google-services.json
**/target
